.sublevel-nav {
    list-style: none;
    margin-left: 10px;
  }
  
  .sublevel-nav .sublevel-nav-item .sublevel-nav-link {
    display: flex;
    align-items: center;
    height: 3rem;
    color: #898989;
    text-decoration: none;
    border-radius: 0.625rem;
    transition: all .3s ease;
  }
  
  .sublevel-nav .sublevel-nav-item .sublevel-nav-link .sublevel-link-icon {
    font-size: 4px;
    width: 2rem;
    min-width: 2rem;
    margin: 0 0.5rem;
    text-align: center;
  }
  
  .sublevel-nav .sublevel-nav-item .sublevel-nav-link .sublevel-link-text {
    margin-left: 0.8rem;
  }
  
  .sublevel-nav .sublevel-nav-item .sublevel-nav-link:hover {
    color: #f3f3f3;
  }
  
  .menu-collapse-icon {
    font-size: 25px;
    width: 2rem;
    min-width: 2rem;
    margin: auto 0.5rem auto auto;
    text-align: center;
    color: #f3f3f3;
  }
  
  .active-sublevel {
    color: #f3f3f3 !important;
  }
  
  .sublevel-nav-item {
    
  }
  
  
  