<h2 mat-dialog-title>{{ form.formTitle }}</h2>
<div class="container2">
  <div class="base">
    <form #myForm="ngForm" [formGroup]="dynamicFormGroup">
      @for(control of form.formControls; track control.name) {
        <ng-container>



          @if(['text', 'email', 'password', 'number', 'date'].includes(control.type)) {
            @if(control.name !== 'keyPix') {
              <div [class]="control.class">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>{{ control.label }}</mat-label>
                  <input matInput [type]="control.type" formControlName="{{ control.name }}">
                  @if(dynamicFormGroup.get(control.name)?.invalid && dynamicFormGroup.get(control.name)?.touched) {
                    <mat-error>
                      {{ getValidationErrors(control) }}
                    </mat-error>
                  }
                </mat-form-field>
              </div>
            }
          }

          @if(control.type === 'select' && control.name !== 'pixType') {
            <div [class]="control.class">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>{{ control.label }}</mat-label>
                <mat-select formControlName="{{ control.name }}">
                  @for(opt of control.options; track opt.id) {
                    <mat-option [value]="opt.value">{{ opt.value }}</mat-option>
                  }
                </mat-select>
                @if(dynamicFormGroup.get(control.name)?.invalid && dynamicFormGroup.get(control.name)?.touched || myForm.submitted) {
                  <mat-error>
                    {{ getValidationErrors(control) }}
                  </mat-error>
                }
              </mat-form-field>
            </div>
          }

          @if(control.type === 'toggle') {
            <div class="toggle-container">
              <mat-slide-toggle formControlName="{{ control.name }}">{{ control.label }}</mat-slide-toggle>
            </div>
          }

          @if(control.type === 'checkbox') {
            <div class="checkbox-container">
              <mat-checkbox formControlName="{{ control.name }}">{{ control.label }}</mat-checkbox>
            </div>
          }

          @if(dynamicFormGroup.get('acceptPix')?.value) {
            @if(control.name === 'pixType') {
              <div [class]="control.class">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>{{ control.label }}</mat-label>
                  <mat-select formControlName="{{ control.name }}" (selectionChange)="onPixTypeChange($event)">
                    @for(opt of control.options; track opt.id) {
                      <mat-option [value]="opt.value">{{ opt.value }}</mat-option>
                    }
                  </mat-select>
                  @if(dynamicFormGroup.get(control.name)?.invalid && dynamicFormGroup.get(control.name)?.touched || myForm.submitted) {
                    <mat-error>
                      {{ getValidationErrors(control) }}
                    </mat-error>
                  }
                </mat-form-field>
              </div>
            }

            @if(control.name === 'keyPix') {
              <div [class]="control.class">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>{{ control.label }}</mat-label>
                  <input matInput formControlName="{{ control.name }}" [placeholder]="getPixPlaceholder()" [mask]="getPixMask()">
                  @if(dynamicFormGroup.get(control.name)?.invalid && dynamicFormGroup.get(control.name)?.touched) {
                    <mat-error>
                      {{ getValidationErrors(control) }}
                    </mat-error>
                  }
                </mat-form-field>
              </div>
            }
          }

          @if(control.type === 'textarea' && control.name === 'obs') {
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>{{ control.label }}</mat-label>
              <textarea matInput formControlName="{{ control.name }}"></textarea>
            </mat-form-field>
          }

        </ng-container>
      }

      <div class="button-container">
        <button mat-raised-button color="primary" class="save-button" (click)="onsubmit()">{{ form.saveBtnTitle }}</button>
        <button mat-raised-button color="warn" class="cancel-button" (click)="onCancel()">{{ form.deleteBtnTitle }}</button>
      </div>
    </form>
  </div>
</div>


@if(activeDebugger) {
  <pre>{{ getInvalidControls() | json }}</pre>
}

