<h1>Ti9 - Teste</h1>

<div class="card">
  <div class="card-head">Lista Fornecedores</div>
  <div class="card-body">
    <button mat-raised-button color="primary" (click)="openFornecedorModal()" class="custom-button">
      <mat-icon>add</mat-icon>
      Cad Fornecedor
    </button>

    <app-dynamic-table 
      [dataSource]="suppliers$" 
      [displayedColumns]="displayedColumns" 
      (edit)="editSupplier($event)"
      (delete)="deleteSupplier($event)">
    </app-dynamic-table>
  </div>
</div>