@if(collapsed && data.items && data.items.length > 0) {
<ul [@submenu]="expanded 
    ? {value: 'visible', 
        params: {transitionParams: '400ms cubic-bezier(0.86, 0, 0.07, 1)', height: '*'}} 
    : {value: 'hidden', 
        params: {transitionParams: '400ms cubic-bezier(0.86, 0, 0.07, 1)', height: '0'}}" class="sublevel-nav">


    @for(item of data.items; track item) {
    <li  class="sublevel-nav-item" style="margin-left: 20px;font-size: 15px;">
        @if(item.items && item.items.length > 0) {
        <a class="sublevel-nav-link" [ngClass]="getActiveClass(item)" (click)="handleClick(item)">
            <i class="sublevel-link-icon fa fa-circle"></i>

            @if(collapsed) {
            <span class="sublevel-link-text" @fadeInOut >{{ item.label }}</span>
            }
            @if(item.items && collapsed) {
            <i class="menu-collapse-icon"
                [ngClass]=" !item.expanded ? 'fal fa-angle-right': 'fal fa-angle-down' "></i>
            }
        </a>
    }
        @if(!item.items || (item.items && item.items.length === 0)) {
        <a class="sublevel-nav-link" 
            [routerLink]="[item.routeLink]" routerLinkActive="active-sublevel"
            [routerLinkActiveOptions]="{exact: true}">
            <i class="sidenav-link-icon" [class]="item.icon"></i>
            @if(collapsed) {
            <span class="sublevel-link-text" @fadeInOut>{{ item.label }}</span>
            }
        </a>
    }

        @if(item.items && item.items.length > 0) {
        <div>
            <app-sublevel-menu [data]="item" [collapsed]="collapsed" [multiple]="multiple"
                [expanded]="item.expanded"></app-sublevel-menu>
        </div>
    }
    </li>
}
</ul>
}