<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()">TI9</button>

        @if(collapsed) {
        <div class="logo-text" @fadeInOut>Teste</div>
        <button class="btn-close" @rotate (click)="closeSidenav()">
            <mat-icon class="close-icon">close</mat-icon></button>
        }

    </div>

    <div class="scrollwrap scrollwrap_delayed">
        <ul class="sidenav-nav">

            @for(data of navData; track data) {
            <li class="sidenav-nav-item">

                @if(data.items && data.items.length > 0) {
                <a class="sidenav-nav-link" (click)="handleClick(data)" [ngClass]="getActiveClass(data)">
                    <mat-icon class="sidenav-link-icon">{{ data.icon }}</mat-icon>

                    @if(collapsed) {
                    <span class="sidenav-link-text" @fadeInOut>
                        {{ data.label }}
                    </span>
                }
                    @if(data.items && collapsed) {
                    <mat-icon class="menu-collapse-icon">
                        {{ data.expanded ? 'expand_more' : 'chevron_right' }}
                    </mat-icon>
                }
                </a>
                }

                @if(!data.items || (data.items && data.items.length === 0) ) {
                <a class="sidenav-nav-link" [routerLink]="[data.routeLink]" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}" (click)="shrinkItems(data)">
                    <mat-icon class="sidenav-link-icon">{{ data.icon }}</mat-icon>

                    @if(collapsed) {
                    <span class="sidenav-link-text" @fadeInOut>
                        {{ data.label }}
                    </span>
                }
                </a>
                }

                @if(collapsed && data.items && data.items.length > 0) {
                <div>
                    <app-sublevel-menu [data]="data" [collapsed]="collapsed" [multiple]="multiple"
                        [expanded]="data.expanded"></app-sublevel-menu>
                </div>
                }
            </li>
            }
        </ul>
    </div>
</div>