@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 90%;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
  min-width: 900px;
}
.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.btn:focus {
  outline: none;
}
.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.add-form{
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackbar-success {
  background-color: #4caf50; /* Verde para sucesso */
  color: #fff;
}

.snackbar-error {
  background-color: #f44336; /* Vermelho para erro */
  color: #fff;
}

mat-dialog-content {
  padding: 20px; /* Espaçamento geral na modal */
}

form {
  display: flex;
  flex-direction: column; /* Para colocar cada campo em uma linha */
}

mat-form-field {
  margin-bottom: 20px; /* Espaçamento entre os campos */
  width: 100%; /* Garantir que o campo ocupe toda a largura */
}

/* Verde claro para sucesso */
.success-snackbar {
  --snackbar-bg-color: #3c6940; /* Fundo verde escuro */
  --snackbar-text-color: #fff; /* Texto branco */
  --snackbar-button-color: #000; /* Botão verde escuro */
  --snackbar-button-hover-color: #fff; /* Hover do botão verde */
}

/* Azul claro para informações */
.info-snackbar {
  --snackbar-bg-color: #64b5f6; /* Fundo azul claro */
  --snackbar-text-color: #fff; /* Texto branco */
  --snackbar-button-color: #1565c0; /* Botão azul escuro */
  --snackbar-button-hover-color: #0d47a1; /* Hover do botão azul */
}

/* Vermelho claro para erros */
.error-snackbar {
  --snackbar-bg-color: #e57373; /* Fundo vermelho claro */
  --snackbar-text-color: #fff; /* Texto vermelho escuro */
  --snackbar-button-color: #d32f2f; /* Botão vermelho escuro */
  --snackbar-button-hover-color: #b71c1c; /* Hover do botão vermelho */
}

/* Estilos gerais que se aplicam a todos os snackbars */
.custom-snackbar {
  background-color: transparent;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.custom-snackbar .mat-mdc-snack-bar-label {
  background-color: var(--snackbar-bg-color); /* Cor dinâmica */
  color: var(--snackbar-text-color); /* Texto dinâmico */
  padding: 8px;
  border-radius: 4px;
}

.custom-snackbar .mat-mdc-snack-bar-actions .mat-mdc-snack-bar-action {
  background-color: transparent;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  .mdc-button__label {
    color: var(--snackbar-button-color);
    font-weight: bold;
  }

  &:hover .mdc-button__label {
    color: var(--snackbar-button-hover-color);
  }

  .mdc-button__ripple {
    background-color: rgba(0, 0, 0, 0.1);
  }
}



