<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 dynamic-table">
    <!-- Dynamic Column Definitions -->
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef> {{ column | titlecase }} </th>
        <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
      </ng-container>
  
    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button mat-icon-button color="primary" (click)="editElement(i)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteElement(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns.concat('actions')"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns.concat('actions')"></tr>
  </table>
  
  <!-- No Records Message -->
  <div *ngIf="dataSource.data.length === 0" class="no-records-message">
    Não há registros.
  </div>
  
