<div class="base-filter">
  <mat-form-field appearance="outline" class="filter-input" style="flex: 1; margin-right: 8px;">
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Digite para filtrar">
  </mat-form-field>

  <div>
    <button mat-raised-button color="primary" (click)="createDatadorModal()" class="custom-button no-border-radius">
      <mat-icon>add</mat-icon>
      Cadastrar
    </button>
  </div>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 dynamic-table">

  @for(column of displayedColumns; track column) {
  <ng-container [matColumnDef]="column">
    <th mat-header-cell *matHeaderCellDef> {{ column | titlecase }} </th>
    <td mat-cell *matCellDef="let element" 
    [ngClass]="{'mid-cell': column === 'Chave Pix' || column === 'Observação', 'small-cell': column === 'Tipo Pix'}">
      {{ element[column] }}
    </td>
  </ng-container>
  }

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Ações </th>
    <td mat-cell *matCellDef="let element; let i = index">
      <div class="actions">
        <button mat-icon-button (click)="editDataModal(i)">
          <mat-icon class="edit-icon">edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteData(element, i)">
          <mat-icon class="delete-icon">delete</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns.concat('actions')"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns.concat('actions')"></tr>
</table>

@if(dataSource.data.length === 0) {
<div class="no-records-message">
  Não há registros.
</div>
}